.NoteControls {
	width: 70%;
	height: 100%;
	border-left: 1px solid #999;
}
.NoteControls form {
	height: 100%;
}
.NoteControls .buttons {
	padding-left: 10px;
	display: flex;
	height: 10%;
	background: lightgray;
}
.NoteControls .buttons button {
	font-size: 1.5em;
	color: #888;
	background: transparent;
	outline: none;
	border: none;
	margin-right: 10px;
	cursor: pointer;
}

.NoteControls .inputs {
	width: 98%;
	height: 90%;
	margin: 1%;
	word-wrap: break-word;
}
.NoteControls .inputs input {
	display: block;
	height: 10%;
	padding: 5px;
	border: 2px solid #e3e3e3;
	outline: none;
	border-radius: 10px;
}
.NoteControls .inputs input:hover {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.NoteControls .inputs textarea {
	display: block;
	width: 100%;
	height: 78%;
	outline: none;
	resize: none;
	border: none;
	padding: 5px;
	margin: 1% 0;
}
.NoteControls .inputs button {
	display: inline-block;
	height: 8%;
	width: 60px;
	cursor: pointer;
}
.NoteControls .noNotes {
	text-align: center;
	margin-top: 35vh;
}
